@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  background-color: #f8f9fa;
  font-family: "Roboto", sans-serif;
}
nav .nav-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-top .nav-left img {
  height: 60px;
  width: auto;
}
nav .nav-top .nav-center {
  flex-grow: 1;
  text-align: center;
}
nav .nav-top .nav-center .nav-center-dafualt {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
nav .nav-top .nav-center .nav-center-dafualt li {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: #333;
  padding: 10px;
}
nav .nav-top .nav-center .nav-center-dafualt li a {
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  color: #01B2B7;
  text-transform: uppercase;
  cursor: pointer;
}
nav .nav-top .nav-center .nav-center-dafualt li a:hover {
  color: white;
  background: #01B2B7;
}
nav .nav-top .nav-righ {
  display: flex;
  align-items: center;
}
nav .nav-top .nav-righ .nav-desk {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .nav-top .nav-righ .nav-desk .material-symbols-outlined {
  color: #01B2B7;
}
nav .nav-top .nav-righ .nav-desk a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.nav-center-dafualt a.active-link {
  border-bottom: 2px solid #01B2B7;
}

.nav-desk ul .apm a {
  text-decoration: none;
  background: #01B2B7;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
}

.nav-desk ul .apm a:hover {
  background: rgba(0, 128, 128, 0.955);
}

section {
  display: flex;
  justify-content: space-around;
  background: #01B2B7;
  width: 100%;
  height: 30vh;
}
section .text3 .iconr-footer {
  display: flex;
  margin: 12px;
}
section .text3 .iconr-footer p {
  color: #FFFFFF;
  font-family: sans-serif;
}
section .text3 .iconr-footer span {
  color: #FFFFFF;
}
section .text1 {
  margin-top: 12px;
}
section .text1 h3 {
  color: #FFFFFF;
  font-size: 24px;
  font-family: sans-serif;
}
section .text1 a {
  color: #FFFFFF;
  font-size: 16px;
  font-family: sans-serif;
  margin-top: 24px;
}
section .text2 {
  margin-top: 12px;
}
section .text2 h3 {
  color: #FFFFFF;
  font-size: 24px;
  font-family: sans-serif;
}
section .text2 a {
  color: #FFFFFF;
  font-size: 16px;
  font-family: sans-serif;
  margin-top: 24px;
}
section .text4 {
  display: flex;
  justify-content: space-around;
  background: #01B2B7;
}
section .text4 .text-icon {
  display: flex;
  margin: 24px;
}
section .text4 .text-icon img {
  width: 30px;
  height: 30px;
}
section .text4 .text-icon p {
  color: #FFFFFF;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.card-group {
  justify-content: space-around;
  display: flex;
  width: 100%;
  height: 40vh;
  gap: 12px;
  margin: 12px;
}
.card-group .card1 {
  justify-content: space-between;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 24%;
  height: 30vh;
  background: #E8F4F3;
  border-radius: 12px;
}
.card-group .card1 .card {
  margin: 12px;
}
.card-group .card1 .card span {
  font-size: 50px;
  color: #01B2B7;
}
.card-group .card1 .card .btn-card {
  width: 100px;
  height: 30px;
  border: none;
  margin-top: 30px;
  border-radius: 12px;
  background: #01B2B7;
  color: #FFFFFF;
}

.card-group1 {
  justify-content: space-around;
  display: flex;
  width: 100%;
  height: 40vh;
  gap: 12px;
  margin: 12px;
}
.card-group1 .card2 {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 24%;
  height: 30vh;
  background: #E8F4F3;
  border-radius: 12px;
}
.card-group1 .card2 .card {
  margin: 12px;
}
.card-group1 .card2 .card span {
  font-size: 50px;
  color: #01B2B7;
}
.card-group1 .card2 .card .btn-card {
  width: 100px;
  height: 30px;
  border: none;
  margin-top: 30px;
  border-radius: 12px;
  background: #01B2B7;
  color: #FFFFFF;
}

.cotainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.cotainer .card-contaner {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 400px;
  height: 500px;
  justify-content: space-between;
  margin: 12px;
  border-radius: 12px;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
}
.cotainer .card-contaner .card-ctn {
  background: #395BA9;
  height: 78vh;
}
.cotainer .card-contaner img {
  width: 100%;
  height: 50vh;
}

main .text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  background-image: url(https://media.istockphoto.com/id/863348696/photo/doctor-is-checking-a-patient.jpg?s=612x612&w=0&k=20&c=AzEN5lBPCNB6lTreli7TC9MfkexTGOpzwg-YbS7QPm4=);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  color: #15063F;
  text-align: center;
}
main .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  width: 100%;
  height: 70vh;
  color: #000;
  text-align: center;
}
main .contact .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 10px;
}
main .contact .row label {
  font-size: 18px;
}
main .contact .row input {
  padding: 12px;
  width: 100%;
  border-radius: 1000px;
  background: gainsboro;
  border: none;
}
main .contact .row1 {
  margin-top: 15px;
}
main .contact .row1 input {
  padding: 10px;
  width: 100%;
  border-radius: 1000px;
}
main .contact .btn {
  padding: 10px;
  width: 90%;
  border-radius: 1000px;
  color: #FFFFFF;
  background: #01B2B7;
  border: none;
}

aside {
  display: flex;
  justify-content: space-around;
  background: gainsboro;
  width: 100%;
  height: 30vh;
}
aside .svar .icon {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #FFFFFF;
  background: #01B2B7;
  padding: 10px;
  margin-bottom: 20px;
}

.page {
  background: #01B2B7;
  width: 100%;
  height: 12vh;
}

.page1 {
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
}

.medim {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  color: #000;
  width: 100%;
  height: 20vh;
}

.map iframe {
  width: 100%;
  margin-top: 12px;
}/*# sourceMappingURL=contact.css.map */