@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  background-color: #f8f9fa;
  font-family: "Roboto", sans-serif;
}
nav .nav-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-top .nav-left img {
  height: 60px;
  width: auto;
}
nav .nav-top .nav-center {
  flex-grow: 1;
  text-align: center;
}
nav .nav-top .nav-center .nav-center-dafualt {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
nav .nav-top .nav-center .nav-center-dafualt li {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: #333;
  padding: 10px;
}
nav .nav-top .nav-center .nav-center-dafualt li a {
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  color: #01B2B7;
  text-transform: uppercase;
  cursor: pointer;
}
nav .nav-top .nav-center .nav-center-dafualt li a:hover {
  color: white;
  background: #01B2B7;
}
nav .nav-top .nav-righ {
  display: flex;
  align-items: center;
}
nav .nav-top .nav-righ .nav-desk {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .nav-top .nav-righ .nav-desk .material-symbols-outlined {
  color: #01B2B7;
}
nav .nav-top .nav-righ .nav-desk a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.nav-center-dafualt a.active-link {
  border-bottom: 2px solid #01B2B7;
}

.nav-desk ul .apm a {
  text-decoration: none;
  background: #01B2B7;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
}

.nav-desk ul .apm a:hover {
  background: rgba(0, 128, 128, 0.955);
}

section {
  display: flex;
  justify-content: space-around;
  background: #01B2B7;
  width: 100%;
  height: 30vh;
}
section .text3 .iconr-footer {
  display: flex;
  margin: 12px;
}
section .text3 .iconr-footer p {
  color: #FFFFFF;
}
section .text3 .iconr-footer span {
  color: #FFFFFF;
}
section .text1 {
  margin-top: 12px;
}
section .text1 h3 {
  color: #FFFFFF;
  font-size: 24px;
}
section .text1 a {
  color: #FFFFFF;
  font-size: 16px;
}
section .text2 {
  margin-top: 12px;
}
section .text2 h3 {
  color: #FFFFFF;
  font-size: 24px;
}
section .text2 a {
  color: #FFFFFF;
  font-size: 16px;
}
section .text4 {
  display: flex;
  justify-content: space-around;
  background: #01B2B7;
}
section .text4 .text-icon {
  display: flex;
  margin: 24px;
}
section .text4 .text-icon img {
  width: 30px;
  height: 30px;
}
section .text4 .text-icon p {
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

main {
  background-image: url(https://i.pinimg.com/564x/75/99/e2/7599e20a079c876a76bb98638bae940b.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
}
main .content {
  display: flex;
  justify-content: space-between;
}
main .content .btn {
  margin: auto;
  padding: 0px 90px;
}
main .content .btn h2 {
  font-family: "Roboto", sans-serif;
  padding: 20px 0px;
}
main .content .btn h1 {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
}
main .content .btn p {
  font-size: 20px;
  padding: 20px 0px;
}
main .content .btn .bt {
  margin-top: 70px;
}
main .content .btn .bt .bt1 {
  width: 220px;
  padding: 18px;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  background: #01B2B7;
  font-size: 18px;
  cursor: pointer;
}
main .content .btn .bt .bt1:hover {
  background: #FFFFFF;
  color: #01B2B7;
}
main .content .btn .bt .bt2 {
  width: 220px;
  padding: 18px;
  margin-left: 28px;
  background: none;
  border: solid 2px #01B2B7;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 18px;
}
main .content .btn .bt .bt2:hover {
  background: #FFFFFF;
  border: solid 2px #FFFFFF;
  color: #01B2B7;
}
main .content .small img {
  margin-top: 125px;
}

.bg {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}
.bg .text {
  width: 40%;
  margin-top: 100px;
}
.bg .text h1 {
  font-size: 70px;
  font-family: "Roboto", sans-serif;
}
.bg .text p {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  margin-top: 38px;
}
.bg .pic {
  background-image: url(https://lh3.googleusercontent.com/p/AF1QipMWXWHMGWhDy_zvqA5pwIFmxUl7dIxI0StL0fud=s1360-w1360-h1020);
  background-position: center;
  width: 50%;
  height: 100vh;
}
.bg .pic .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg .pic .logo img {
  width: 35%;
  padding: 30% 0 0 0;
}
.bg .year {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
}
.bg .year .card {
  width: 50%;
  padding: 20px;
  text-align: center;
  background: #01B2B7;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  border-radius: 10px;
}
.bg .year .card h1 {
  font-size: 100px;
}
.bg .year .card h3 {
  font-size: 20px;
}

.group-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.group-card .card {
  width: 25%;
  height: 40vh;
  padding: 48px 32px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}
.group-card .card p {
  padding: 30px 0px;
}
.group-card .card1 {
  background: #3EC4C8;
}
.group-card .card2 {
  background: #01B2B7;
}
.group-card .card3 {
  background: #395BA9;
}
.group-card .card3 .monday {
  padding: 15px 0px 0px 0px;
}
.group-card .card3 .day {
  display: flex;
  justify-content: space-between;
}
.group-card .card3 .day p {
  padding: 20px 0px;
  font-size: 12px;
  color: lightgray;
}
.group-card .card3 .day hr {
  color: lightgray;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
}
span a {
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  margin-top: 50px;
  padding: 10px 20px;
  background: #E8F4F3;
  color: #395BA9;
}/*# sourceMappingURL=home.css.map */