@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  background-color: #f8f9fa;
  font-family: "Roboto", sans-serif;
}
nav .nav-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-top .nav-left img {
  height: 60px;
  width: auto;
}
nav .nav-top .nav-center {
  flex-grow: 1;
  text-align: center;
}
nav .nav-top .nav-center .nav-center-dafualt {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
nav .nav-top .nav-center .nav-center-dafualt li {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: #333;
  padding: 10px;
}
nav .nav-top .nav-center .nav-center-dafualt li a {
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  color: #01B2B7;
  text-transform: uppercase;
  cursor: pointer;
}
nav .nav-top .nav-center .nav-center-dafualt li a:hover {
  color: white;
  background: #01B2B7;
}
nav .nav-top .nav-righ {
  display: flex;
  align-items: center;
}
nav .nav-top .nav-righ .nav-desk {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .nav-top .nav-righ .nav-desk .material-symbols-outlined {
  color: #01B2B7;
}
nav .nav-top .nav-righ .nav-desk a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.nav-center-dafualt a.active-link {
  border-bottom: 2px solid #01B2B7;
}

.nav-desk ul .apm a {
  text-decoration: none;
  background: #01B2B7;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
}

.nav-desk ul .apm a:hover {
  background: rgba(0, 128, 128, 0.955);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.services {
  width: 100%;
  height: 50vh;
  background: #01B2B7;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-services {
  width: 100%;
  height: 40vh;
  background: #FFFFFF;
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
}
.text-services h2 {
  margin-top: 80px;
}

span #Service {
  color: black;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  margin-left: 80px;
}

.card-service1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 20px;
}
.card-service1 .card-of-service {
  width: 28%;
  height: 80vh;
  background: #FFFFFF;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.card-service1 .card-of-service img {
  width: 100%;
  height: 40vh;
}
.card-service1 .card-of-service h2 {
  font-size: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
}
.card-service1 .card-of-service span a {
  color: #FFFFFF;
  background: #395BA9;
  padding: 12px 20px;
  position: relative;
  top: 10%;
  left: 30%;
  border: none;
  border-radius: 10px;
}
.card-service1 .card-of-service p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
<<<<<<< HEAD
.box-service .box-of-servie p {
  color: #808080;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}/*# sourceMappingURL=services.css.map */
=======

.contant-service {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  background: #01B2B7;
}
.contant-service .text-contant-service {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}
.contant-service .text-contant-service h1 {
  font-size: 50px;
}
>>>>>>> 6949428fd22c40abd74564a80a11e15cb1f73c6a
