@import "./main.scss";
@import "../sass/mixins/responsive-home";

main {
    background-image: url(https://t3.ftcdn.net/jpg/06/31/48/64/240_F_631486438_ulkY2lKYk9ByyX64KJ6OrJZZqKz7Ef9C.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    // background-attachment: fixed;
    height: 80vh;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        .btn {
           margin-top: 122px;
           #h2 {
                font-family: $font-family;
                font-size: $font-size + 8;
           }
           h1 {
            padding: 28px 0px;
            font-family: $font-family;
            font-size: $text-header;
            color: $sub-color1;
           }
           p {
            font-size: $font-size + 10;
           }
        }
        .bt {
            display: flex;
            text-align: center;
            .bt1 {
                width: 220px;
                padding: 18px;
                border: none;
                border-radius: 5px;
                color: $sub-color3;
                background: $main-color;
                font-size: $font-size;
                cursor: pointer;
            }
    
            .bt1:hover {
                background: $sub-color3;
                color: $main-color;
            }
            .bt2 {
                width: 220px;
                padding: 18px;
                margin-left: 28px;
                background: none;
                border: solid 2px $main-color;
                border-radius: 5px;
                color: $main-color;
                font-size: $font-size;
            }
            .bt2:hover {
                background: $sub-color3;
                border: solid 2px $sub-color3;
                color: $main-color;
           }
        }

    }

}
        
.bg {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;

    .text {
        width: 40%;
        margin-top: 100px;
        h1 {
            font-size: $text-header;
            font-family: $font-family;
        }
        p {
            font-size: 28px;
            font-family: $font-family;
            margin-top: 38px;
        }
    }

    .pic {
        background-image: url(https://lh3.googleusercontent.com/p/AF1QipMWXWHMGWhDy_zvqA5pwIFmxUl7dIxI0StL0fud=s1360-w1360-h1020);
        background-position: center;
        width: 50%;
        height: 100vh;
        .logo {
            @include centered;
            img {
                width: 35%;
                padding: 30% 0 0 0;
            }
        }
    }

    .year {
        @include centered;
        margin-top: 140px;
        .card {
            width: 50%;
            padding: 20px;
            text-align: center;
            background: $main-color;
            font-family: $font-family;
            color: $sub-color3;
            border-radius: 10px;
            h1 {
                font-size: 100px;
            }
            h3 {
                font-size: 20px;
            }
        }
    }
}

.group-card {
    @include centered;
    margin-top: 150px;
    .card {
        width: 25%;
        height: 40vh;
        padding: 48px 32px;
        color: $sub-color3;
        font-family: $font-family;

        p {
            padding: 30px 0px;
        }
    }

    .card1 {
        background: #3EC4C8;
    }

    .card2 {
        background: $main-color;
    }

    .card3 {
        background: #395BA9;
        .monday {
            padding: 15px 0px 0px 0px;
        }
        .day {
            display: flex;
            justify-content: space-between;
            p {
                padding: 20px 0px;
                font-size: 12px;
                color: lightgray;
            }
            hr {
                color: lightgray;
            }
        }
    }
}

span {
    @include centered;
    a {
        font-size: 38px;
        font-family: $font-family;
        margin-top: 50px;
        padding: 10px 20px;
        border-radius: 10px;
        background: $sub-color1;
        color: $sub-color3;
    }
    a:hover {
        background: #2d4373;
    }
}

.card-container {
    display: flex;
    gap: 20px;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: center;
    font-family: $font-family;
}

.service-card {
    width: 300px;
    background-color: #f0f8ff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: translateY(-5px);
}

.service-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    text-align: center;
}

.card-content h1 {
    font-size: $font-size;
    font-weight: bold;
    color: #333;
    margin: 15px 0px;
}

.card-content .services {
    background-color: $sub-color1;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: black 0.3s ease;
}

.card-content .services:hover {
    background-color: #2d4373;
}

.motivate {
    display: flex;
    margin-top: 40px;

    .pic-motivate {
        img {
            margin-top: -48px;
        }
    }
    .content-motivate {
        width: 38%;
        margin-left: 28px;
        .header-motivate {
            font-family: $font-family;
            font-size: 60px;
            color: $sub-color4;
        }

        .paragraph-motivate {
            padding: 42px 0px;
            font-size: $font-size + 6;
            color: $sub-color2;
        }
    }
}

.bg-clinic {
    @include centered;
    color: $sub-color3;
    background: $sub-color1;
    justify-content: space-around;
    margin-top: 38px;
    .fact {
        padding: 28px;
        text-align: center;
        .number {
            font-family: $font-family;
            font-size: $font-size + 12;
        }
    }
}

