@import "./main.scss";

main {
    background-image: url(https://i.pinimg.com/564x/d9/41/0b/d9410b0e495e873d4b06d6e27e74a22c.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
}

