@import "./main.scss";

.services{
    width: 100%;
    height: 50vh;
    background:$main-color;
    color: $sub-color3;
    @include text-header;
    @include centered ;
}
.text-services{
    width: 100%;
    height: 40vh;
    background: $sub-color3;
    @include text-header;
    h2{
        margin-top: 80px;
    }
}
span #Service{
    color:black;
    font-size:30px;
    font-family: $font-family;
    margin-left: 80px;
}
.card-service1{
    @include centered;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20px;
    .card-of-service{
        width: 28%;
        height: 80vh;
        background: $sub-color3;
        margin: 10px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        img{
            width: 100%;
            height: 40vh;
        }
        h2{
            font-size: 20px;
            text-align: center;
            font-family: $font-family;
            margin-top: 20px;
        }
        span a{
            color: $sub-color3;
            background:#395BA9;
            padding: 12px 20px ;
            position: relative;
            top: 10%;
            left: 30%;
            border: none;
            border-radius: 10px;
        }
        p{
            font-size: 16px;
            font-family: $font-family;
        }
    }
}
.contant-service{
    @include centered;
    width: 100%;
    height: 90vh;
    background:$main-color;
    .text-contant-service{
        color: $sub-color3;
        font-family: $font-family;
        h1{
            font-size: 50px;
        }
    }
}