.card-group{
    justify-content: space-around;
    display: flex;
    width: 100%;
    height: 40vh;
    gap: 12px;
    margin: 12px;
    .card1{
        justify-content: space-between;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 24%;
        height: 30vh;
        background: $bg-card;
        border-radius: 12px;
        .card{
            margin: 12px;
            span{
                font-size: 50px;
                color: $main-color;
            }
            .btn-card{
                width: 100px;
                height: 30px;
                border: none;
                margin-top: 30px;
                border-radius: 12px;
                background: $main-color;
                color: $sub-color3;
                a{
                  color: $sub-color3;
                }
            }
        }
    }
    
}
.card-group1{
    justify-content: space-around;
    display: flex;
    width: 100%;
    height: 40vh;
    gap: 12px;
    margin: 12px;
    .card2{
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 24%;
        height: 30vh;
        background:$bg-card;
        border-radius: 12px;
        .card{
            margin: 12px;
            span{
                font-size: 50px;
                color: $main-color;
            }
            .btn-card{
                width: 100px;
                height: 30px;
                border: none;
                margin-top: 30px;
                border-radius: 12px;
                background: $main-color;
                color: $sub-color3;
                a{
                  color: $sub-color3;
                }
            }
            
        }
    }
    
}


.doctor-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
  }
  
  .card-doctor {
    width: 250px;
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
    height: 400px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    &:hover {
      transform: translateY(-10px);
    }
  
    img {
      width: 100%;
      height: 55%;
      object-fit: cover;
      border-bottom: 5px solid #003366;
    }
  
    .card-content {
      background-color: #ffffff;
      color: #333;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      height: 45%; 
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      h3 {
        font-size: 1.4em;
        font-family: $font-family;
        margin: 0;
        font-weight: bold;
        padding-bottom: 8px;
      }
  
      p {
        font-size: 1em;
        font-family: $font-family;
        margin: 0;
      }
    }
  }