@import "../components/variable";

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0px 0px 0px;
    background-color: #f8f9fa;
    font-family: $font-family;

    .nav-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        .nav-left img {
            height: 60px;
            width: auto;
        }

        .nav-center {
            flex-grow: 1;
            text-align: center;

            .nav-center-dafualt {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                gap: 20px; 
                width: 100%;

                li {
                    display: inline-block;
                    text-decoration: none;
                    font-size: 18px;
                    color: #333;
                    padding: 10px;

                    a {
                        text-decoration: none;
                        font-size: 18px;
                        padding: 10px;
                        color: $main-color;
                        text-transform: uppercase;
                        cursor: pointer;
                    }
                    a:hover {
                        color: white;
                        background: $main-color;
                    }
                }
            }
        }

        .nav-righ {
            display: flex;
            align-items: center;

            .nav-desk {
                display: flex;
                align-items: center;
                gap: 15px; 

                .material-symbols-outlined {
                    color: $main-color;
                }

                a {
                    text-decoration: none;
                    color: white;
                    text-transform: uppercase;
                }
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }
    }
}

.nav-center-dafualt a.active-link {
    // font-weight: bold;
    border-bottom: 2px solid $main-color;
}

.nav-desk ul .apm a{
    text-decoration: none;
    background: $main-color;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
}

.nav-desk ul .apm a:hover {
    background: rgba(0, 128, 128, 0.955);
}