@import "../components/variable";

nav {
    display: flex;
    justify-content: space-between;
    background: $sub-color3;
    img {
        width: 70px;
        margin: 0px 30px;
    }
    ul {
        display: flex;
        align-items: center;
        padding: 0px 30px;
        
        li .active-link {
            border: solid 2px $main-color;
            padding: 5px;
            color: $main-color;
        }

        li a {
            padding: 0px 20px;
            font-family: "Poppins", sans-serif;
            color: $main-color;
            font-size: $font-size;
            cursor: pointer;
            text-transform: uppercase;
        }

        .apm a {
            border: solid 2px $main-color;
            background: $main-color;
            padding: 5px;
            color: $sub-color3;
            margin-left: 10px;
        }
    }
}
