@import "../components/variable";

.nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    font-family: $font-family;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    .nav-left {
      img {
        height: 50px;
        margin-left: 38px;
      }
    }
    .nav-center {
      display: flex;
      justify-content: center;
      flex-grow: 1;
  
      .nav-center-default {
        display: flex;
        gap: 30px; 
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
            a {
                text-decoration: none;
                font-size: 18px;
                padding: 10px;
                color: $main-color;
                text-transform: uppercase;
                cursor: pointer;
            
                &.active-link {
                    border-bottom: 2px solid $main-color;
                }
            
                &:hover {
                    color: white;
                    background: $main-color;
                }
            }
        }
      }
    }
    .nav-right {
      display: flex;
      align-items: center;
  
      .apm {
        a {
          text-decoration: none;
          color: $main-color;
          font-weight: bold;
          padding: 8px 16px;
          border: 1px solid $main-color;
          border-radius: 4px;
  
          &:hover {
            color: teal;
          }
        }
      }
    }
  }
  