// color
$main-color: #01B2B7;
$sub-color1: #0070C0;
$sub-color2: #808080;
$sub-color3: #FFFFFF;
$sub-color4: #15063F;
$bg-card: #f0f8ff;

// font
$font-family: "Roboto", sans-serif;
$font-size: 18px;
$font-size1: 14px;
$text-header: 70px;
