// color
$main-color: #01B2B7;
$sub-color1: #395BA9;
$sub-color2: #808080;
$sub-color3: #FFFFFF;
$bg-card: #E8F4F3;

// font
$font-family: "Roboto", sans-serif;
$font-size: 18px;
$font-size1: 14px;
$text-header: 70px;
