@import "../components/variable";

@media only screen and (min-width: 320px) and (max-width: 767px){
    
    .services {
        background-image: none;
        background-color: #B9D0DD;
        height: 55vh;
        .service-text {
            color: $sub-color1;
        }
    }

    .text-services {
        height: 20vh;
    }

    .contant-service{
        flex-direction: column;
        height: 50vh;
        .img-contant-service{
          img{
            display: none;
          }
        }
        .text-contant-service{
            h1{
                font-size: 38px;
            } 
            p{
                width: 100%;
                font-size: 10px;
            }
        }
    }
    .text-services{
        h2{
            font-size: 26px;
        }
    }
    .services{
        height: 55vh;
        .service-text{
            h1{
                font-size: $font-size * 2;
                color: $sub-color1;
                padding: 30px 0px 0px 0px;
            }
            p{
                font-size: 20px;
                color: $sub-color4;
                padding: 18px 0px;
            }
        }
    }
    body{
        overflow-x:hidden ;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .text-contant-service{
        h1{
            font-size: 40px;
        }
        p{
            font-size: 22px;
        }
        span a{
            font-size: 30px;
        }
    }
    .contant-service{
        height: 82.5vh;
    }
    .img-contant-service{
        display: none;
    }
    .services{
        background-image: none;
        background-color: #B9D0DD;
        padding-top: 70px;
        height: 55vh;
        .service-text{
            h1{
                color: $sub-color1;
            }
            p{
                font-size: $font-size * 2;
            }
        }
    }
    
    .text-services{
        font-size: 30px;
    }
}