/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    main {
        height: auto;
        background-attachment: fixed;
        .content {
            @include centered;
            .btn {
                padding: 0px 20px 0px 30px;
                #h2 {
                    font-size: $font-size - 3;
                }
                h1 {
                    font-size: $font-size + 10;
                    padding: 20px 0px;
                }
                p {
                    font-size: $font-size - 3;
                }
                .bt {
                    margin-bottom: 80px;
                    .bt1, .bt2 {
                        width: 100px;
                        font-size: $font-size - 8;
                        padding: 10px 5px;
                    } 
                    .bt2 {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .bg {
        flex-direction: column-reverse;
        margin-top: 40px;
        .text {
            width: 90%;
            margin-top: 0px;
            margin: auto;
            h1 {
                margin-top: 20px;
                text-align: center;
                font-size: 28px;
            }
            p {
                margin-top: 12px;
                font-size: $font-size - 3;
            }
        }
        .pic {
            width: 90%;
            margin: auto;
            height: 70vh;
            .logo {
                img {
                    padding: 50% 0 0 0;
                    width: 50%;
                }
            }
            .year {
                display: none;
            }
        }
    }

    .group-card {
        flex-direction: column;
        margin-top: 48px;
        .card {
            width: 90%;
        }
    }

    span {
        a {
            font-size: $font-size;
            margin-top: 30px;
        }
    }
    .motivate {
        .pic-motivate {
            display: none;
        }
        .content-motivate {
            width: 90%;
            margin: auto;
            padding: 0px 10px;
            .header-motivate {
                font-size: $font-size + 10;
            }
            .paragraph-motivate {
                padding: 20px 0px;
                font-size: $font-size;
            }
        }
    }

    .bg-clinic {
        flex-direction: column;
        .fact {
            padding: 12px;
        }
    }

    section {
        flex-direction: column;
        height: auto;
        padding: 0px 0px 0px 32px;
        
        .text3 {
            margin-top: 28px;
            h3 {
                font-size: $font-size + 4;
                padding: 8px 0px;
            }
            .iconr-footer {
                margin: 0;
                padding: 6px 0px;
                p {
                    padding: 4px 0px 0px 4px;
                }
            }
        }

        .text1 {
            margin-top: 28px;
            h3 {
                font-size: $font-size + 4;
                padding: 0px 0px 8px 0px;
            }
            a {
                margin-top: 0px;
                padding: 3px 0px;
            }
        }
    }
}







/* Tablet */
@media only screen and (min-width: 767px) and (max-width: 1024px) {

}