/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
    nav {
        place-content: center;
        .nav-top {
            .nav-left {
                img {
                   padding: 5px 18px;
                   height: 58px;
                }
            }
            .nav-center {
                .nav-center-dafualt {
                    li {
                        font-size: 15px;
                        align-items: center;
                        a {
                            font-size: 15px;
                            padding: 2px;
                        }
                    }
                }
            }
            .nav-righ {
                ul {
                    .apm {
                        a {
                            display: none;
                        }
                    }
                }
            }
        }
    }

}


/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

}