@media only screen and (min-width:768px) and (max-width: 1024px) {
    main{
        flex-basis: 30%;
        .text{
            flex-basis: 30%;
            .content{
                flex-basis: 30%;
                h1{
                    font-size: 60px;   
                }
                p{
                    font-size: 30px;
                }
            }
        }
        .contact{
            .box{
                flex-basis: 100%;
                h2{
                    font-size: 50px;
                }
                p{
                    font-size: 20px;
                }

            }
            .ro{
                label{
                    font-size: 10px;
                }
                input{
                    padding: 1px;
                }
        }

        }
    }
    
    .card-group{
        flex-basis:30%;
        flex-wrap: wrap;
        .card1{
            width: 50px;
            height: 20vh;
            flex-basis:30%;
            flex-wrap: wrap;
            .card{
                flex-basis:30%;
                flex-direction: column;
            }
        }
    }
    .card-group1{
        flex-basis:30%;
        .card2{
            width: 38px;
            height: 18vh;
            flex-basis:100%;
            flex-direction: column;
        }
    }
    .medim{
        width: 100%;
        height: 0px;

    }

}
@media(min-width:320px) and (max-width: 767px){
    body{
        overflow-x: hidden;
    }
    main{
        flex-basis: 100%;
        .text{
            flex-basis: 100%;
            .content{
                flex-basis: 100%;
                h1{
                    font-size: 40px;   
                }
                p{
                    font-size: 20px;
                }
            }
        }
        .contact{
            .box{
                flex-basis: 100%;
                h2{
                    font-size: 40px;
                }
                p{
                    font-size: 20px;
                }

            }
            .ro{
                label{
                    font-size: 10px;
                }
                input{
                    padding: 8px;
                }
        }

        }
    }
    .card-group{
        flex-wrap: wrap;
        width: 100%;
        .card1{
            width: 40px;
            height: 20vh;
            flex-basis:100%;
            flex-wrap: wrap;
            .card{
                flex-basis:100%;
                flex-direction: column;

            }
        }
    }
    
    .card-group1{
        flex-direction: column;
        margin-top: 220px;
        width: 100%;
       
        .card2{
            flex-direction: column;
            width: 100%;
            height: 20vh;
            flex-basis:100%;
            .card{
                flex-basis:100%;
                flex-direction: column;
            }
        }
    }
    .doctor-cards{
        flex-direction: column;
    }

    .medim{
        width: 100%;
        height: 60vh;
        font-size: 40px;

    }

}