@media only screen and (min-width: 320px) and (max-width: 767px){
    .confirmation-container{
      padding: 20px;
      max-width: 358px; 
    }
    
    .instructions{
        font-size: 18px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .confirmation-container{
      padding: 40px;
      max-width: 600px;
      font-size:26px;
      h1{
            font-size:38px;
        }
    }
  }