// Mobile Navba
@media only screen and (min-width: 320px) and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }
    .nav-top {
        place-content: center;
        .nav-left {
            img {
                height: 50px;
                margin-left: 0px;
            }
        }
        .nav-center {
            font-size: 12px;
            .nav-center-dafualt {
                li {
                    align-items: center;
                    a {
                        padding: 2px;
                    }
                }
            }
        }
        .nav-right {
            display: none;
        }
    }
}


// Tablet Navba
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .nav-top {
        font-size: $font-size;
        .nav-left {
            img {
                width: 60px;
                height: 60px;
            }
        }
    }
}