@import "../mixins/group-mixin";
@import "../components/variable";
// Mobile Home
@media only screen and (min-width: 320px) and (max-width: 767px) {
    main {
        height: auto;
        background-attachment: fixed;
        .content {
            @include centered;
            .btn {
                padding: 0px 20px 0px 30px;
                #h2 {
                    font-size: $font-size - 3;
                }
                h1 {
                    font-size: $font-size + 10;
                    padding: 20px 0px;
                }
                p {
                    font-size: $font-size - 3;
                }
                .bt {
                    margin-bottom: 80px;
                    .bt1, .bt2 {
                        width: 100px;
                        font-size: $font-size - 8;
                        padding: 10px 5px;
                    } 
                    .bt2 {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    .bg {
        flex-direction: column-reverse;
        margin-top: 40px;
        .text {
            width: 90%;
            margin-top: 0px;
            margin: auto;
            h1 {
                margin-top: 20px;
                text-align: center;
                font-size: 28px;
            }
            p {
                margin-top: 12px;
                font-size: $font-size - 3;
            }
        }
        .pic {
            width: 90%;
            margin: auto;
            height: 70vh;
            .logo {
                img {
                    padding: 50% 0 0 0;
                    width: 50%;
                }
            }
            .year {
                display: none;
            }
        }
    }

    .group-card {
        flex-direction: column;
        margin-top: 48px;
        .card {
            width: 90%;
        }
    }

    span {
        a {
            font-size: $font-size;
            margin-top: 30px;
        }
    }
    .motivate {
        .pic-motivate {
            display: none;
        }
        .content-motivate {
            width: 90%;
            margin: auto;
            padding: 0px 10px;
            .header-motivate {
                font-size: $font-size + 10;
            }
            .paragraph-motivate {
                padding: 20px 0px;
                font-size: $font-size + 2;
            }
        }
    }

    .bg-clinic {
        display: none;
    }
}

// Tablet Home
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    main {
        height: 70vh;
        .content {
           .btn {
            padding: 0px 0px 0px 30px;
            h1 {
                font-size: $font-size + 40;
            }
            p {
                width: 90%;
            }
           }
        }
    }

    .bg {
        flex-direction: column-reverse;
        .pic {
            width: 90%;
            margin: auto;
            background-repeat: no-repeat;
            height: 80vh;
            .logo {
                margin-top: 28px;
            }
            .year {
                margin-top: 188px;
                .card {
                    width: 40%;
                    padding: 12px;
                    h1 {
                        font-size: 80px;
                    }
                }
            }
        }
        .text {
            width: 90%;
            margin: auto;
            padding: 120px 0px 0px 0px;
            h1 {
                text-align: center;
                font-size: $text-header - 20;
            }
            p {
                text-align: center;
                font-size: $font-size + 8;
            }
        }
    }

    .group-card {
        flex-wrap: wrap;
        margin-top: 68px;
        .card {
            width: 45%;
            height: 35vh;
            p {
                font-size: $font-size;
            }
        }
        .card3 {
            width: 90%;
            .day {
                p {
                    font-size: $font-size;
                }
            }
        }
    }

    .motivate {
        flex-direction: column;
        margin-top: 18px;
        .pic-motivate {
            display: none;
        }
        .content-motivate {
            width: 90%;
            margin: auto;
            text-align: center;
            .header-motivate {
                font-size: $text-header - 20;
            }
            .paragraph-motivate {
                width: 85%;
                margin: auto;
                font-size: $font-size + 10;
            }
        }
    }
}

