@import"../main.scss";

.text-p5{
    width: 94%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 12px;
    border-radius: 12px;
    font-family: sans-serif;
    background: $sub-color3;
    margin-top: 90px;
    margin-bottom: 20px;
    h1{

    text-align: center;
    }
    h3{
        margin-top: 20px; 
    }
    #phas{
        margin-top: 12px;
    }
}
